extends ./layout/index

block content
    include ./layout/errors
    section.container 

        form.edit-element(action=`/element/${type}/${element.id}`, method="POST" enctype="multipart/form-data")
            case type 
                when 'title'
                    h2 Editar título 
                when 'metatag'
                    h2 Editar metatag 
                when 'text'
                    h2 Editar texto
                when 'image'
                    h2 Editar imagen
                when 'video'
                    h2 Editar video
            .form-name-value
                if type == 'title'
                    //- The input covers the full width
                    .form-element.title-element
                        label(for="element-value") Nombre
                        input#element-value(type="text" , name="element-value", required value=`${element.value}`)
                else if type == 'text'
                    //- The input covers the full width
                    .form-element.title-element
                        label(for="element-name") Nombre
                        input#element-name(type="text" , name="element-name", required value=`${element.name}`)
                else
                    //- The total width is divided between name and content
                    .form-element.no-title-element
                        label(for="element-name") Nombre
                        input#element-name(type="text" , name="element-name", required value=`${element.name}`)
                    .form-element.content
                        if type == 'metatag'
                            label(for="element-value") Valor
                            input#element-value(type="text" , name="element-value", required value=`${element.value}`)
                        if type == 'image' | type == 'video'
                            label(for="element-upload") 
                                | Subir archivo. El actual es: 
                                strong #{element.source}
                            if type == 'image'
                                input#element-upload(type="file", name="element-upload" accept="image/*")
                            if type == 'video'
                                input#element-upload(type="file", name="element-upload" accept="video/*")
                            p.note Recuerda renombrar los archivos antes de subirlos con un nombre identificativo y fácil
            if type == 'text'
                //- The textarea covers the complete width
                .form-element
                    label(for="element-content") Contenido
                    textarea#element-content.text-content(name="element-content", required) #{element.content}
                    script.
                        CKEDITOR.replace('element-content')
            if type == 'image'
                .form-element
                    label(for="element-alt") Texto alternativo (SEO)
                    input#element-alt(type="text" , name="element-alt", required value=`${element.alt}`)
            if type == 'image' | type == 'video'
                .form-width-height
                    .form-element
                        label(for="element-width") Ancho en píxeles (opcional)
                        input#element-width(type="number", name="element-width" min="0" value=`${element.width}`)
                    .form-element
                        label(for="element-height") Alto en píxeles (opcional)
                        input#element-height(type="number", name="element-height" min="0" value=`${element.height}`)
            if type == 'video'
                h3 Opciones de vídeo
                .video-options
                    .form-element
                        label(for="element-autoplay") Reproducir automáticamente
                        input#element-autoplay(type="checkbox", name="element-autoplay" data-value=`${element.autoplay}` value="1") 
                    .form-element
                        label(for="element-controls") Mostrar controles de reproducción
                        input#element-controls(type="checkbox", name="element-controls" data-value=`${element.controls}` value="1")
                    .form-element
                        label(for="element-loop") Reproducir en bucle
                        input#element-loop(type="checkbox", name="element-loop" data-value=`${element.loop}` value="1") 
                    .form-element
                        label(for="element-muted") Reproducir sin audio
                        input#element-muted(type="checkbox", name="element-muted" data-value=`${element.muted}` value="1")
                p.note Deseleccionar "Mostrar controles de reproducción" para poder hacer editable el vídeo en ciertos navegadores.
                script.
                    checkboxDefaultChecked()
            .form-element.form-submit
                input#page-id(type="hidden", name="page-id" value=`${element.pageId}`)
                input(type="submit", value="Guardar cambios")

            
 


                    
                 
            
