mixin tableElements(elements)
    table.elements-table
        tr
            th Nombre
            th Nº ediciones
            th Ult. Editor
            th Ult. Edición
            th 
        for element in elements
            +rowElement(element)

mixin rowElement(element)
    tr 
        td #{element.name}
        if element.editions === 0 | element.editions === undefined
            td(style="color: #da532c;") Creado, no editado
            td(style="color: #da532c;") #{element.editor}
            td(style="color: #da532c;") #{Intl.DateTimeFormat("es-ES", {hour12: false, dateStyle: 'short', timeStyle: 'short' }).format(element.lastEdition)}
        else 
            td #{element.editions}
            td #{element.editor}
            td #{Intl.DateTimeFormat("es-ES", {hour12: false, dateStyle: 'short', timeStyle: 'short' }).format(element.lastEdition)}
        td
            a(href=`/element/${element.type}/${element.id}`) 
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M9 7h-3a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-3" />
                <path d="M9 15h3l8.5 -8.5a1.5 1.5 0 0 0 -3 -3l-8.5 8.5v3" />
                <line x1="16" y1="5" x2="19" y2="8" />
                </svg>